In [53]:
import pandas as pd
import os
from sqlalchemy import create_engine
from time import time

In [3]:
os.system('wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz')

--2024-01-22 17:24:34--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 198.18.0.87
Connecting to github.com (github.com)|198.18.0.87|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240122T135435Z&X-Amz-Expires=300&X-Amz-Signature=30aff1fb988aba7e6b954349c46ba3c13b31b93d22f27fc368b958fdbd292eaa&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-22 17:24:35--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240122T135435Z&X-Amz-Expires=300&X-Amz-Signature=30aff1fb988aba7e6b954349c46ba3c13b31b93d22f27fc368b958fdbd292eaa&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 198.18.0.88
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|198.18.0.88|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz’

     0K .......... .......... .......... .......... ..........  0% 2.27M 3s
    50K .......... .......... .......... .......... ..........  1% 1.27M 5s
   100K .......... .......... .......... .......... ..........  1% 1021K 5s
   150K .......... .......... .......... .......... ..........  2% 3.48M 5s
   200K .......... .......... .......... .......... ..........  3%  724K 6s
   250K .......... .......... .......... .......... ..........  3% 3.07M 5s
   300K .......... .......... .......... .......... ..........  4% 2.08M 5s
   350K .......... .......... .......... .......... ..........  5% 1.93M 5s
   400K .......... .......... .......... .......... ..........  5% 1.82M 5s
   450K .......... .......... .......... .......... ..........  6% 1.95M 4s
   500K .......... .......... .......... .......... ..........  7% 1.07M 5s
   550K .......... .......... .......... .......... ..........  7% 3.83M 4s
   600K .......... .......... .......... .......... ..........  8% 1.56M 4s
   650K .......... .......... .......... .......... ..........  9% 2.24M 4s
   700K .......... .......... .......... .......... ..........  9% 1.33M 4s
   750K .......... .......... .......... .......... .......... 10% 1.42M 4s
   800K .......... .......... .......... .......... .......... 11% 2.44M 4s
   850K .......... .......... .......... .......... .......... 11% 1.87M 4s
   900K .......... .......... .......... .......... .......... 12% 1.94M 4s
   950K .......... .......... .......... .......... .......... 13% 1.41M 4s
  1000K .......... .......... .......... .......... .......... 13% 2.51M 4s
  1050K .......... .......... .......... .......... .......... 14% 1.84M 4s
  1100K .......... .......... .......... .......... .......... 14% 1.76M 4s
  1150K .......... .......... .......... .......... .......... 15% 8.95M 4s
  1200K .......... .......... .......... .......... .......... 16% 8.74M 4s
  1250K .......... .......... .......... .......... .......... 16% 4.27M 3s
  1300K .......... .......... .......... .......... .......... 17% 8.27M 3s
  1350K .......... .......... .......... .......... .......... 18% 10.5M 3s
  1400K .......... .......... .......... .......... .......... 18% 4.31M 3s
  1450K .......... .......... .......... .......... .......... 19% 2.62M 3s
  1500K .......... .......... .......... .......... .......... 20% 6.00M 3s
  1550K .......... .......... .......... .......... .......... 20% 3.36M 3s
  1600K .......... .......... .......... .......... .......... 21% 18.3M 3s
  1650K .......... .......... .......... .......... .......... 22% 4.65M 3s
  1700K .......... .......... .......... .......... .......... 22% 7.21M 3s
  1750K .......... .......... .......... .......... .......... 23% 5.38M 3s
  1800K .......... .......... .......... .......... .......... 24% 1.53M 3s
  1850K .......... .......... .......... .......... .......... 24% 17.0M 2s
  1900K .......... .......... .......... .......... .......... 25% 7.34M 2s
  1950K .......... .......... .......... .......... .......... 26% 25.4M 2s
  2000K .......... .......... .......... .......... .......... 26% 19.0M 2s
  2050K .......... .......... .......... .......... .......... 27% 4.81M 2s
  2100K .......... .......... .......... .......... .......... 28% 15.0M 2s
  2150K .......... .......... .......... .......... .......... 28% 66.6M 2s
  2200K .......... .......... .......... .......... .......... 29% 31.7M 2s
  2250K .......... .......... .......... .......... .......... 29% 8.86M 2s
  2300K .......... .......... .......... .......... .......... 30% 6.58M 2s
  2350K .......... .......... .......... .......... .......... 31% 14.1M 2s
  2400K .......... .......... .......... .......... .......... 31% 17.2M 2s
  2450K .......... .......... .......... .......... .......... 32% 19.1M 2s
  2500K .......... .......... .......... .......... .......... 33% 10.2M 2s
  2550K .......... .......... .......... .......... .......... 33% 20.9M 2s
  2600K .......... .......... .......... .......... .......... 34% 16.7M 2s
  2650K .......... .......... .......... .......... .......... 35% 5.33M 2s
  2700K .......... .......... .......... .......... .......... 35% 10.9M 2s
  2750K .......... .......... .......... .......... .......... 36% 10.0M 2s
  2800K .......... .......... .......... .......... .......... 37% 6.28M 2s
  2850K .......... .......... .......... .......... .......... 37% 49.0M 1s
  2900K .......... .......... .......... .......... .......... 38% 13.3M 1s
  2950K .......... .......... .......... .......... .......... 39% 6.17M 1s
  3000K .......... .......... .......... .......... .......... 39% 51.0M 1s
  3050K .......... .......... .......... .......... .......... 40% 16.4M 1s
  3100K .......... .......... .......... .......... .......... 41% 11.5M 1s
  3150K .......... .......... .......... .......... .......... 41% 3.53M 1s
  3200K .......... .......... .......... .......... .......... 42% 8.03M 1s
  3250K .......... .......... .......... .......... .......... 43% 10.1M 1s
  3300K .......... .......... .......... .......... .......... 43% 25.7M 1s
  3350K .......... .......... .......... .......... .......... 44% 14.6M 1s
  3400K .......... .......... .......... .......... .......... 44% 16.2M 1s
  3450K .......... .......... .......... .......... .......... 45% 13.4M 1s
  3500K .......... .......... .......... .......... .......... 46% 9.57M 1s
  3550K .......... .......... .......... .......... .......... 46% 19.6M 1s
  3600K .......... .......... .......... .......... .......... 47% 13.3M 1s
  3650K .......... .......... .......... .......... .......... 48% 31.9M 1s
  3700K .......... .......... .......... .......... .......... 48% 17.0M 1s
  3750K .......... .......... .......... .......... .......... 49% 5.89M 1s
  3800K .......... .......... .......... .......... .......... 50% 17.5M 1s
  3850K .......... .......... .......... .......... .......... 50% 16.7M 1s
  3900K .......... .......... .......... .......... .......... 51% 5.30M 1s
  3950K .......... .......... .......... .......... .......... 52% 10.9M 1s
  4000K .......... .......... .......... .......... .......... 52% 10.7M 1s
  4050K .......... .......... .......... .......... .......... 53% 6.75M 1s
  4100K .......... .......... .......... .......... .......... 54% 37.4M 1s
  4150K .......... .......... .......... .......... .......... 54% 10.4M 1s
  4200K .......... .......... .......... .......... .......... 55% 44.9M 1s
  4250K .......... .......... .......... .......... .......... 56% 12.7M 1s
  4300K .......... .......... .......... .......... .......... 56% 13.5M 1s
  4350K .......... .......... .......... .......... .......... 57% 8.41M 1s
  4400K .......... .......... .......... .......... .......... 58% 25.7M 1s
  4450K .......... .......... .......... .......... .......... 58% 23.3M 1s
  4500K .......... .......... .......... .......... .......... 59% 4.57M 1s
  4550K .......... .......... .......... .......... .......... 59% 76.4M 1s
  4600K .......... .......... .......... .......... .......... 60% 78.4M 1s
  4650K .......... .......... .......... .......... .......... 61% 51.5M 1s
  4700K .......... .......... .......... .......... .......... 61% 5.81M 1s
  4750K .......... .......... .......... .......... .......... 62% 10.4M 1s
  4800K .......... .......... .......... .......... .......... 63% 27.3M 1s
  4850K .......... .......... .......... .......... .......... 63% 12.3M 1s
  4900K .......... .......... .......... .......... .......... 64% 9.24M 1s
  4950K .......... .......... .......... .......... .......... 65% 15.3M 1s
  5000K .......... .......... .......... .......... .......... 65% 16.1M 1s
  5050K .......... .......... .......... .......... .......... 66% 17.3M 1s
  5100K .......... .......... .......... .......... .......... 67% 6.04M 1s
  5150K .......... .......... .......... .......... .......... 67% 11.0M 1s
  5200K .......... .......... .......... .......... .......... 68% 7.31M 1s
  5250K .......... .......... .......... .......... .......... 69% 18.6M 0s
  5300K .......... .......... .......... .......... .......... 69% 9.40M 0s
  5350K .......... .......... .......... .......... .......... 70% 13.0M 0s
  5400K .......... .......... .......... .......... .......... 71% 25.8M 0s
  5450K .......... .......... .......... .......... .......... 71% 14.6M 0s
  5500K .......... .......... .......... .......... .......... 72% 17.7M 0s
  5550K .......... .......... .......... .......... .......... 73% 8.62M 0s
  5600K .......... .......... .......... .......... .......... 73% 11.2M 0s
  5650K .......... .......... .......... .......... .......... 74% 93.7M 0s
  5700K .......... .......... .......... .......... .......... 74% 13.1M 0s
  5750K .......... .......... .......... .......... .......... 75% 13.1M 0s
  5800K .......... .......... .......... .......... .......... 76% 11.7M 0s
  5850K .......... .......... .......... .......... .......... 76% 10.3M 0s
  5900K .......... .......... .......... .......... .......... 77% 7.85M 0s
  5950K .......... .......... .......... .......... .......... 78% 37.1M 0s
  6000K .......... .......... .......... .......... .......... 78% 10.4M 0s
  6050K .......... .......... .......... .......... .......... 79% 14.7M 0s
  6100K .......... .......... .......... .......... .......... 80% 17.9M 0s
  6150K .......... .......... .......... .......... .......... 80% 15.8M 0s
  6200K .......... .......... .......... .......... .......... 81% 10.4M 0s
  6250K .......... .......... .......... .......... .......... 82% 13.2M 0s
  6300K .......... .......... .......... .......... .......... 82% 4.59M 0s
  6350K .......... .......... .......... .......... .......... 83% 31.3M 0s
  6400K .......... .......... .......... .......... .......... 84% 11.2M 0s
  6450K .......... .......... .......... .......... .......... 84% 94.8K 0s
  6500K .......... .......... .......... .......... .......... 85%  279M 0s
  6550K .......... .......... .......... .......... .......... 86% 22.4M 0s
  6600K .......... .......... .......... .......... .......... 86% 42.3M 0s
  6650K .......... .......... .......... .......... .......... 87% 73.2M 0s
  6700K .......... .......... .......... .......... .......... 88% 23.8M 0s
  6750K .......... .......... .......... .......... .......... 88% 63.4M 0s
  6800K .......... .......... .......... .......... .......... 89% 9.75M 0s
  6850K .......... .......... .......... .......... .......... 89% 13.6M 0s
  6900K .......... .......... .......... .......... .......... 90% 13.8M 0s
  6950K .......... .......... .......... .......... .......... 91% 7.64M 0s
  7000K .......... .......... .......... .......... .......... 91% 13.1M 0s
  7050K .......... .......... .......... .......... .......... 92% 22.8M 0s
  7100K .......... .......... .......... .......... .......... 93% 20.0M 0s
  7150K .......... .......... .......... .......... .......... 93% 5.86M 0s
  7200K .......... .......... .......... .......... .......... 94% 63.1M 0s
  7250K .......... .......... .......... .......... .......... 95% 70.3M 0s
  7300K .......... .......... .......... .......... .......... 95% 23.6M 0s
  7350K .......... .......... .......... .......... .......... 96% 14.4M 0s
  7400K .......... .......... .......... .......... .......... 97% 14.3M 0s
  7450K .......... .......... .......... .......... .......... 97% 14.2M 0s
  7500K .......... .......... .......... .......... .......... 98% 10.1M 0s
  7550K .......... .......... .......... .......... .......... 99% 13.9M 0s
  7600K .......... .......... .......... .......... .......... 99% 9.98M 0s
  7650K .......... ..........                                 100% 10.9M=1.8s

2024-01-22 17:24:38 (4.16 MB/s) - ‘green_tripdata_2019-09.csv.gz’ saved [7854533/7854533]

0

In [4]:
os.system('wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv')

--2024-01-22 17:24:59--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 198.18.0.91
Connecting to s3.amazonaws.com (s3.amazonaws.com)|198.18.0.91|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

     0K .......... ..                                         100% 99.8K=0.1s

2024-01-22 17:25:03 (99.8 KB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

0

In [56]:
green_taxi = pd.read_csv('./green_tripdata_2019-09.csv.gz', compression='gzip')

/var/folders/s6/6bpn1bsx1671knt15gtsc0pm0000gp/T/ipykernel_69257/3598215847.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  green_taxi = pd.read_csv('./green_tripdata_2019-09.csv.gz', compression='gzip')

In [8]:
green_taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [10]:
pd.io.sql.get_schema(green_taxi, name='green_taxi_data')

'CREATE TABLE "green_taxi_data" (\n"VendorID" REAL,\n  "lpep_pickup_datetime" TEXT,\n  "lpep_dropoff_datetime" TEXT,\n  "store_and_fwd_flag" TEXT,\n  "RatecodeID" REAL,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "ehail_fee" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "payment_type" REAL,\n  "trip_type" REAL,\n  "congestion_surcharge" REAL\n)'

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [24]:
# green_taxi.head(10).to_sql(name='green_taxi_data', con=engine, if_exists='append')

10

In [61]:
df_iter = green_taxi = pd.read_csv(
    './green_tripdata_2019-09.csv.gz',
    compression='gzip', 
    iterator=True,
    chunksize=100000
)

In [60]:
green_taxi.head(0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [62]:
while True:
    start = time()
    try:
        df = next(df_iter)
    except:
        break

    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    end = time()
    print(f'rows where added in {end-start} seconds')

rows where added in 5.688611030578613 seconds
rows where added in 5.307485103607178 seconds
rows where added in 5.26547384262085 seconds

/var/folders/s6/6bpn1bsx1671knt15gtsc0pm0000gp/T/ipykernel_69257/2429624956.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

rows where added in 5.208905935287476 seconds
rows where added in 2.280719041824341 seconds

In [57]:
len(green_taxi)

449063

In [63]:
taxi_zones = pd.read_csv('./taxi+_zone_lookup.csv')

In [64]:
taxi_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [65]:
taxi_zones.head(0).to_sql(name='taxi_zones', con=engine, if_exists='replace')

0

In [66]:
taxi_zones.to_sql(name='taxi_zones', con=engine, if_exists='append')

265